@model catbook.Models.cat

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>cat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select class="form-select" asp-for="gender" asp-items="Html.GetEnumSelectList<catbook.Models.genders>()">
                    <option value="">Choose gender</option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="about" class="control-label"></label>
                <textarea asp-for="about" class="form-control"></textarea>
                <span asp-validation-for="about" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="vaccinated" class="control-label"></label>
                <select class="form-select" asp-for="vaccinated" asp-items="Html.GetEnumSelectList<catbook.Models.vaccinationStates>()">
                    <option value="">Choose vaccination status</option>
                </select>
          
                <span asp-validation-for="vaccinated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="neutered" class="control-label"></label>
                <input asp-for="neutered" class="form-check" />
                <span asp-validation-for="neutered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vaccinationbook" class="control-label"></label>
                <input asp-for="vaccinationbook" class="form-check" />
                <span asp-validation-for="vaccinationbook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
