@model catbook.Models.request

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Send an adoption request</h1>

<h4>You are sending a request to adopt @ViewBag.catName</h4>
<img src="@ViewBag.catPhoto" class="m-4 float-end rounded m-4 " style="max-width: 400px;">
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group" style="display : none;">
                <label asp-for="catId" class="control-label"></label>
                <input asp-for="catId" class="form-control" value="@ViewBag.catId" />
                
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <textarea asp-for="message" class="form-control"></textarea>
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    @Html.ValidationSummary()
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
